@mixin responsive ($breakpoint) { 
   

    @if $breakpoint == desktop {    
      @media only screen and (min-width: 769px) {
        @content;
      }
    }
  
      @if $breakpoint == tablet {    
      @media only screen and (max-width: 769px) and (min-width: 321px) {
        @content;
      }
    }
   
    @if $breakpoint == mobile {
      @media only screen and (max-width: 320px) and (min-width: 100px){
        @content;
      }
    }
  }
  
  
  @mixin text ($font-family, $font-style, $font-weight, $font-size, $line-height, $letter-spacing) {
      font-family: $font-family; 
      font-style: $font-style;
      font-weight: $font-weight;
      font-size: $font-size;
      line-height: $line-height;
      letter-spacing: $letter-spacing;
  }